## Logical operators in Python: and, or, not - truth tables and practical usage

## Consulted Chatgpt (20 jan , 2026)

### 1️⃣ Logical Operators (and, or, not)

Logical operators combine Boolean values (True / False).
Operator  Meaning	                              Example	        Result
and  	  True if both conditions are True	      True  and False	False
or	      True if at least one condition is True  True or False	    True
not	      Reverses the value	                  not True	        False

### 2️⃣ Comparison (Relational) Operators

Used to compare values. Returns True or False

When to use:

== / != → check equality (password check, form input match)

> / < → numeric comparisons (age, price, scores)

>= / <= → include boundaries (age ≥ 18, score ≥ pass_mark)

### 3️⃣ Type Conversion Functions

Python can convert between types explicitly:

| Function  | Purpose                             | Example                |
| --------- | ----------------------------------- | ---------------------- |
| `int()`   | Convert to integer                  | `int("5") → 5`         |
| `float()` | Convert to float                    | `float("3.14") → 3.14` |
| `str()`   | Convert to string                   | `str(10) → "10"`       |
| `bool()`  | Convert to boolean (`True`/`False`) | `bool(0) → False`      |

### Common type conversion errors:

Trying to convert non-numeric string to int → int("abc") → ValueError

Handling with try-except prevents crashes

### 4️⃣ Arithmetic Operators

| Operator | Meaning                         | Example  | Result |
| -------- | ------------------------------- | -------- | ------ |
| `+`      | Addition                        | `5 + 3`  | 8      |
| `-`      | Subtraction                     | `5 - 3`  | 2      |
| `*`      | Multiplication                  | `5 * 3`  | 15     |
| `/`      | Division (float)                | `5 / 2`  | 2.5    |
| `//`     | Floor division (integer result) | `5 // 2` | 2      |
| `%`      | Modulus (remainder)             | `5 % 2`  | 1      |
| `**`     | Exponentiation                  | `5 ** 2` | 25     |

### 5️⃣ Operator Precedence

Python follows order of operations:

Parentheses () → highest priority

Exponentiation **

Multiplication, Division, Floor Division, Modulus * / // %

Addition, Subtraction + -

Comparison == != > < >= <=

Logical not → and → or

### Example:

In [1]:
result = 2 + 3 * 4  # 3*4=12 → 2+12=14
result = (2 + 3) * 4  # parentheses first → 5*4=20

print(result)

20

### 6️⃣ Common Type Conversion Errors

| Scenario       | Error      | How to fix                                     |
| -------------- | ---------- | ---------------------------------------------- |
| `int("abc")`   | ValueError | Use `try-except` or check with `str.isdigit()` |
| `float("abc")` | ValueError | Same as above                                  |
| Mixing types   | TypeError  | Convert explicitly: `str(5) + " apples"`       |

### 7️⃣ Real-world Use Cases

1.Login System

Validate username, password, age

Use and to ensure all conditions pass

Use print() for specific messages

2.Calculator

Use arithmetic operators

Handle division by zero with try-except

3.Form Validation

Check lengths (len()), numeric ranges, email format

Combine conditions with and, or, not

4.Data Processing

Compare numbers with relational operators

Filter data based on multiple conditio

## Consulted Gemini (20 jan , 2026)

### 1. Logical Operators (and, or, not)

These combine multiple conditions.

Operator,Result,Easy Example
and,True only if both are true,(5 > 2) and (10 > 5) → True
or,True if at least one is true,(5 > 10) or (10 > 5) → True
not,Flips the result (True → False),not (5 > 10) → True

### 2. Comparison Operators

Used to compare two values. The result is always a Boolean (True or False).

== : Equal to (5 == 5 is True)

!= : Not equal to (5 != 3 is True)

> / < : Greater / Less than

>= / <= : Greater/Less than or equal to

### 3. Arithmetic Operators

+, -, *, / : Standard math.

// (Floor Division): Divides and chops off the decimal (7 // 2 = 3).

% (Modulus): Returns the remainder (7 % 2 = 1).

** (Exponent): Power of (2 ** 3 = 8)

### 4. Operator Precedence (Order)

Python follows a "stronger" to "weaker" order (like PEMDAS):

Parentheses ()

Exponent **

Math *, /, //, % then +, -

Comparison ==, !=, >, etc.

Logical not, then and, then or

### 5. Type Conversion (Casting)

Changing data from one type to another manually.

int("10") → 10 (String to Integer)

float(5) → 5.0 (Integer to Float)

str(25) → "25" (Number to String)

bool(1) → True (Non-zero is True)

### 6. Conversion Errors & Handling

The Error: Trying to convert text to a number (e.g., int("Hello")) causes a ValueError. The Fix: Use try and except

In [ ]:
try:
    age = int(input("Enter age: "))
except ValueError:
    print("That's not a number!")

### 7. Real-World Use Cases

CaseUsage Calculators Uses Arithmetic operators ($+$ , $-$, $*$) and float() conversion.Form Validation Uses Comparison (len(name) > 5) and Logical (and).Data Processing Uses Modulus (%) to find even/odd numbers or Floor Division for pagination.

## Consulted Cluad (20 jan , 2026)

### 1. Logical Operators

Logical operators work with boolean values and are used to combine conditional statements.

In [ ]:
#AND Operator (and)

# Both conditions must be True
print(True and True)    # True
print(True and False)   # False
print(False and True)   # False
print(False and False)  # False

In [ ]:
# At least one condition must be True
print(True or True)     # True
print(True or False)    # True
print(False or True)    # True
print(False or False)   # False

In [ ]:
# Reverses the boolean value
print(not True)         # False
print(not False)        # True

### 3.Comparison (Relational) Operators

In [ ]:
#These operators compare values and return boolean results
x = 10
y = 5

# Equal to
print(x == y)    # False - checks if values are equal

# Not equal to
print(x != y)    # True - checks if values are different

# Greater than
print(x > y)     # True - checks if left is greater

# Less than
print(x < y)     # False - checks if left is smaller

# Greater than or equal to
print(x >= 10)   # True - checks if left is greater or equal

# Less than or equal to
print(y <= 5)    # True - checks if left is smaller or equal

### 5. Type Conversion Functions

### int() - Convert to Integer

In [ ]:
# From string
num_str = "42"
num = int(num_str)
print(num)  # 42

# From float (truncates decimal)
pi = 3.14159
print(int(pi))  # 3

# From boolean
print(int(True))   # 1
print(int(False))  # 0

### 6.Arithmetic Operators

In [ ]:
a = 10
b = 3

# Addition
print(a + b)   # 13

# Subtraction
print(a - b)   # 7

# Multiplication
print(a * b)   # 30

# Division (always returns float)
print(a / b)   # 3.3333333333333335

# Floor Division (rounds down to nearest integer)
print(a // b)  # 3
print(-10 // 3)  # -4 (rounds towards negative infinity)

# Modulus (remainder)
print(a % b)   # 1
print(10 % 3)  # 1 (10 = 3*3 + 1)

# Exponentiation (power)
print(a ** b)  # 1000 (10^3)
print(2 ** 3)  # 8 (2^3)

### 7.Operator Precedence

Python follows a specific order when evaluating expressions (from highest to lowest priority):

In [2]:
# 1. Parentheses ()
result = (2 + 3) * 4  # 20 (not 14)

# 2. Exponentiation **
result = 2 ** 3 ** 2  # 512 (2^9, not 8^2)
result = 2 ** (3 ** 2)  # 512 (explicitly shown)

# 3. Unary + - not
result = -5 ** 2  # -25 (-(5^2), not (-5)^2)

# 4. * / // %
result = 10 + 5 * 2  # 20 (not 30)

# 5. + -
result = 10 - 5 + 3  # 8 (left to right)

# 6. Comparison operators == != > < >= <=
result = 5 < 10 == True  # True

# 7. not
result = not False and True  # True

# 8. and
result = True or False and False  # True (and before or)

# 9. or
result = True or False or False  # True